@import url(http://fonts.googleapis.com/css?family=Open+Sans);

.navbar {
    margin-bottom: 0 !important;
}

.thumbnail {
	display: inline-block !important;
}

.gallery {
	width: 200px;
	margin: 20px;
}

.characterList {
	padding: 0;
	margin: 0;
}

.characterList li {
	list-style: none;
	display: inline-block;
	padding: 10px;
	margin: 0;
}

.col {
	display: inline-block;
	width: 350px;
	vertical-align: top;
}